* {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.site-brand {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    padding: 0 0.5rem;
}

.nav-link.active {
    border-left: 5px solid #bbb;
}

.header-img-container {
    display: flex;
    width: 100%;
}

.header-img {
    width: 33%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 5px solid #fff;
}

.img1 {
    background-image: url("/img1.jpeg");
}

.img2 {
    background-image: url("/img2.jpeg");
}

.img3 {
    background-image: url("/img3.jpeg");
}

.main-content {
    margin: 1.5rem 0;
}